@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url(reset.css);
@import url(variables.css);

/* Components */
@import url(components/status-bar.css);
@import url(components/nav-bar.css);
@import url(components/screen-header.css);
@import url(components/user-component.css);

/* Screens */
@import url(screens/login.css);

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Pretendard Std', Pretendard, Roboto, 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* selected text */
::selection {
    background: var(--main);
    color: white;
}

