/* Screen Header */

.screen-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-top: 40px;
    align-items: center;
}

.screen-header__title {
    font-size: 26px;
    font-weight: 600;
}
.screen-header__icons {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.screen-header span {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}